#login {
  background-color: #084177;
  color: #ffffff;
  font-family: "Baloo 2";
}

body {
  background-color: #084177;
}

.container-fluid {
  padding: 2% 15%;
  margin: 5% 30% 30% 0;
}

.nav-items {
  color: #ffffff;
}
