#title {
  background-color: #f40552;
  color: #ffffff;
  font-family: "Baloo 2";
}

/* Buy African Store */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 2% 15%;
}

/* Download Button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title  */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
  font-weight: bold;
}

.nav-link {
  font-family: "Ubuntu";
  font-size: 1.0rem;
}

/* Universal Tropical Heading */
.navbar-brand {
  font-size: 1.9rem;
  font-weight: bold;
}

/* Google Map Frame */
iframe {
  border-radius: 3%;
}

/* Section 2 Features */
#features {
  text-align: center;
  padding: 7% 15%;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

/* Footnote on Section 2 */
.notes {
  color: #8f8f8f;
  padding: 5%;
}

/* Icons from Fontawesome */
.icon {
  color: #162447;
  padding-bottom: 16px;
}

.icon:hover {
  color: #ff4c68;
}

/* Section 3 Testimonials */
#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #f40552;
  color: #fff;
}

/* Testimonial Location and Map icon */
em {
  margin-left: 15px;
  font-size: 1rem;
}

.testimonial-location {
  margin: 0 0 0 10px;
}

.testimonial-image {
  width: 25%;
  text-align: center;
  border-radius: 50%
}



/* Section 4 press */
