#title {
  background-color: #fe346e;
  color: #ffffff;
  font-family: "Baloo 2";

}

/* Buy African Store */

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 2% 15%;
}

/* Download Button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title  */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Ubuntu";
  font-size: 1.0rem;
}
/* Universal Tropical Heading */
.navbar-brand {
  font-size: 1.9rem;
  font-weight: bold;
}

/* Google Map Frame */
iframe {
  border-radius: 3%;
}

/* Section 2 Features */

#features {
  text-align: center;
  margin: 5% 10% 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

/* Footnote on Section 2 */
.notes {
  color: #8f8f8f;
}

/* Icons from Fontawesome */

.icons {
  margin-bottom: 20px;
}
